{% extends 'base.html.twig' %}

{% block title %}Hello SujetController!{% endblock %}

{% block body %}
    <h2>Sujet de la catégorie {{categorie}}</h2>
    <a href="{{path('add_sujet', {'idCategorie': categorie.id})}}">
        <h4>Ajouter un sujet</h4>
    </a>
    {% for sujet in sujets %}
        <a href="{{path('app_message', {'id': sujet.id})}}">{{sujet}}</a> <a href="{{ path('edit_sujet', {"idSujet": sujet.id}) }}">edit</a></br>    
    {% endfor %}
    {{ knp_pagination_render(sujets) }}
{% endblock %}
